<h1><%= @artist.name %></h1>

<form>
<p><%= render "/songs/form" %></P>
</form>

<ol>
  <% @songs.each do |song| %>
    <li><%=song.name%></li>
  <%end%>
</ol>

<div>
   <%= link_to "[Delete all songs]", artist_path(id: @artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
